<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="load()">

<form method="POST" name="deleteForm" action="{% url 'delete_question' poll.id question.id %}">
    {% csrf_token %}
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    function load() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
                document.deleteForm.submit();
            }
        })
    }
</script>
</body>
</html>