<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Poll</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .errorlist{
            color: red;
        }
    </style>
</head>
<body>
<form method="POST" class="container narrow" action="{% url 'update_poll' poll.id %}">
    <div class="jumbotron">
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.start_date.label }}
            {{ form.start_date }}
        </div>
        <div class="form-group">
            {{ form.end_date.label }}
            {{ form.end_date }}
        </div>
    </div>
    {% csrf_token %}
    {{ formset.management_form }}
    {{ success }}
    <h3 class="center title">Questions</h3>

    {% for i in formset %}
        <div class="jumbotron">
            {{ i }}

            {% if i.question_id.value > 0 %}
                <div class="m-top">
{#                    <a href="{% url 'edit-choice' question_id=i.question_id.value %}">#}
{#                        <input type="button" class="btn btn-warning" value="Edit Choices">#}
{#                    </a>#}
{#                    <a href="{% url 'delete-question' question_id=i.question_id.value %}">#}
{#                        <input type="button" class="btn btn-danger" value="Delete Question">#}
{#                    </a>#}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="" class="btn btn-secondary">
        <a style="color: white" href="{% url 'poll_detail' poll_id=poll.id %}">BACK</a>
    </button>
    <input type="submit" class="btn btn-primary" value="UPDATE">
</form>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>